body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: white;
}

.topnav {
    font-size: 16px;
    border-bottom: 1px outset rgba(192, 192, 192, 0.5);
    background: rgba(192, 192, 192, 0.5);
    box-shadow: 0px 1px rgba(0, 0, 0, 0.3);
}

.topnav ul.navbar-nav li a {
    background: rgba(192, 192, 192, 0.5);
    color: black;
    font-family: sans-serif;
}

.topnav ul.navbar-nav li a:hover,
.topnav ul.navbar-nav li a:focus {
    background: white;
    color: skyblue;
    font-size: 20px;
    border-radius: 10px;
}

.topnav .navbar-brand {
    background: rgba(192, 192, 192, 0.5);
    color: black;
    font-family: sans-serif;
}

.topnav .navbar-brand:hover,
.topnav .navbar-brand:focus {
    background: white;
    color: skyblue;
    font-size: 20px;
    border-radius: 10px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: url('../img/bg001.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 855px;
}

.bg-overlay {
    background: rgba(0, 0, 0, 0.3);
    height: 855px;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
    -webkit-text-stroke-width: 1px;
}

.intro-message>h1 {
    margin-top: -50px;
    text-shadow: 2px 1px 2px #000;
    font-size: 5em;
    color: white;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.btn {
    display: inline-block;
    color: skyblue;
    border: 2px outset rgba(0, 0, 0, 0.9);
    background: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 20);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    transition: 0.2s;
}

.btn:hover {
    color: white;
    border: 2px outset rgba(0, 0, 0, 0.9);
    background: skyblue;
    transform: scale(1.1);
    transition: 0.2s;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 20);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}

.content-section-2 {
    padding: 50px 0;
    background: url('../img/bg002.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 855px;
}

.bg-overlay2 {
    margin-top: -50px;
    background: rgba(255, 255, 255, 0.2);
    height: 855px;
}

.container .link {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 22px;
}

.container .link-footer {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 32px;
}

.container .link-footer:hover {
    color: rgba(24, 39, 40, 0.8);
    font-weight: bold;
    font-size: 32px;
}

.container .link:hover {
    color: rgb(0, 0, 128);
    font-weight: bold;
    font-size: 22.5px;
}

.section-heading {
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.section-heading2 {
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.aboutMe {
    font-size: 22px;
    font-weight: bold;
    color: white;
    list-style-type: none;
    text-shadow: 2px 1px 2px #000;
    background-color: rgba(0, 0, 0, 0.5);
}

.aboutMe2 {
    text-indent: 50px;
}

.img-profile {
    margin-top: 80px;
    margin-bottom: -40px;
    border: 2px outset rgba(255, 255, 255, 0.3);
    height: 250px;
    border-radius: 15px;
    padding: 2px;
    background-color: rgba(0, 0, 0.0.25);
}

section {
    color: black;
    background: url('../img/bg003.jpg') no-repeat center center fixed;
    background-size: cover;
}

#below-section {
    color: #000;
}

#small-text {
    color: white;
}

#portfolio .portfolio-item {
    padding-top: 1%;
    height: 400px;
    border: 1px outset rgba(255, 255, 255, 0.6);
}

#portfolio .portfolio-item:hover {
    transition: 0.5s;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.9);
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(0, 0, 0, .7);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s,
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 25px;
}

#portfolio .portfolio-item .portfolio-caption p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 13px;
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.portfolio-img {
    height: 200px;
    width: 100%;
}

.SFDC_cert {
   float: left;
   height: 120px;
   padding-right: 8px; 
}

.banner {
    padding: 100px 0;
    background: url('../img/bg004.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 755px;
}

.bg-overlay4 {
    margin-top: -100px;
    padding: 100px 0;
    background: rgba(255, 255, 255, 0.3);
    height: 755px;
}

.banner ul {
    margin-bottom: 0;
}

ul.banner-social-buttons>li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
}

ul.banner-social-buttons>li:last-child {
    margin-bottom: 0;
}

h2.connect {
    margin: 0;
    color: rgba(0, 0, 0, 0.9);
}

footer {
    padding: 15px 0;
    background: rgba(192, 192, 192, 0.5);
}

p.copyright {
    margin: 15px 0 0;
}